/* Main header container */
.Maniheader {
    background: linear-gradient(135deg, #007bff, #0056b3); /* Gradient background */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}



/* Styling for the h2 text inside the header */
.Maniheader h2 {
    margin: 0;
    color: #ffffff; /* White text for contrast */
    font-size: 2.5rem; /* Larger font size */
    font-weight: 700; /* Bold font weight */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Slight text shadow for depth */
    letter-spacing: 1px; /* Increased letter-spacing for a modern feel */
    z-index: 1; /* Ensures text is above the overlay */
    
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Maniheader h2 {
        font-size: 2rem; /* Smaller font size on smaller screens */
    }

    .Maniheader {
        padding: 15px; /* Reduce padding on smaller screens */
    }
}
